* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
}

.body {
  background-color: rgb(222, 255, 225);
}

.main {
  display: flex;
  justify-content: center;
}
.sketchpad {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  border: 1px solid black;
}

.square-row {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

button {
  margin: 5px;
  background-color: rgb(127 200 155);
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgb(83 139 113);
}
.button-active {
  background-color: rgb(58 139 90);
}
.square {
  display: flex;
  border: 1px solid;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}